modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "ghostscript", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "xcodebuild", "zip", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.development]
LULU_USE_SANDBOX = "true"

[userenv.shared]
PADDLE_SERVER_API_KEY = "pdl_sdbx_apikey_01kj0snyzk1r9gtre355msqf1m_70GSKd84h3wfXAwmRN6kva_AJa"
