<option value="SA">{% if lang == 'es' %}Arabia Saudita{% else %}Saudi Arabia{% endif %}</option>
<option value="AL">{% if lang == 'es' %}Albania{% else %}Albania{% endif %}</option>
<option value="AR">{% if lang == 'es' %}Argentina{% else %}Argentina{% endif %}</option>
<option value="AU">{% if lang == 'es' %}Australia{% else %}Australia{% endif %}</option>
<option value="AT">{% if lang == 'es' %}Austria{% else %}Austria{% endif %}</option>
<option value="BD">{% if lang == 'es' %}Bangladés{% else %}Bangladesh{% endif %}</option>
<option value="BH">{% if lang == 'es' %}Baréin{% else %}Bahrain{% endif %}</option>
<option value="BE">{% if lang == 'es' %}Bélgica{% else %}Belgium{% endif %}</option>
<option value="BO">{% if lang == 'es' %}Bolivia{% else %}Bolivia{% endif %}</option>
<option value="BR">{% if lang == 'es' %}Brasil{% else %}Brazil{% endif %}</option>
<option value="BG">{% if lang == 'es' %}Bulgaria{% else %}Bulgaria{% endif %}</option>
<option value="QA">{% if lang == 'es' %}Catar{% else %}Qatar{% endif %}</option>
<option value="CL">{% if lang == 'es' %}Chile{% else %}Chile{% endif %}</option>
<option value="CY">{% if lang == 'es' %}Chipre{% else %}Cyprus{% endif %}</option>
<option value="CO">{% if lang == 'es' %}Colombia{% else %}Colombia{% endif %}</option>
<option value="KR">{% if lang == 'es' %}Corea del Sur{% else %}South Korea{% endif %}</option>
<option value="CR">{% if lang == 'es' %}Costa Rica{% else %}Costa Rica{% endif %}</option>
<option value="HR">{% if lang == 'es' %}Croacia{% else %}Croatia{% endif %}</option>
<option value="DK">{% if lang == 'es' %}Dinamarca{% else %}Denmark{% endif %}</option>
<option value="EC">{% if lang == 'es' %}Ecuador{% else %}Ecuador{% endif %}</option>
<option value="EG">{% if lang == 'es' %}Egipto{% else %}Egypt{% endif %}</option>
<option value="AE">{% if lang == 'es' %}Emiratos Árabes Unidos{% else %}United Arab Emirates{% endif %}</option>
<option value="SK">{% if lang == 'es' %}Eslovaquia{% else %}Slovakia{% endif %}</option>
<option value="SI">{% if lang == 'es' %}Eslovenia{% else %}Slovenia{% endif %}</option>
<option value="ES">{% if lang == 'es' %}España{% else %}Spain{% endif %}</option>
<option value="US">{% if lang == 'es' %}Estados Unidos{% else %}United States{% endif %}</option>
<option value="EE">{% if lang == 'es' %}Estonia{% else %}Estonia{% endif %}</option>
<option value="ET">{% if lang == 'es' %}Etiopía{% else %}Ethiopia{% endif %}</option>
<option value="PH">{% if lang == 'es' %}Filipinas{% else %}Philippines{% endif %}</option>
<option value="FI">{% if lang == 'es' %}Finlandia{% else %}Finland{% endif %}</option>
<option value="FR">{% if lang == 'es' %}Francia{% else %}France{% endif %}</option>
<option value="GE">{% if lang == 'es' %}Georgia{% else %}Georgia{% endif %}</option>
<option value="GH">{% if lang == 'es' %}Ghana{% else %}Ghana{% endif %}</option>
<option value="GR">{% if lang == 'es' %}Grecia{% else %}Greece{% endif %}</option>
<option value="GT">{% if lang == 'es' %}Guatemala{% else %}Guatemala{% endif %}</option>
<option value="NL">{% if lang == 'es' %}Holanda{% else %}Netherlands{% endif %}</option>
<option value="HK">{% if lang == 'es' %}Hong Kong{% else %}Hong Kong{% endif %}</option>
<option value="HU">{% if lang == 'es' %}Hungría{% else %}Hungary{% endif %}</option>
<option value="IN">{% if lang == 'es' %}India{% else %}India{% endif %}</option>
<option value="ID">{% if lang == 'es' %}Indonesia{% else %}Indonesia{% endif %}</option>
<option value="IE">{% if lang == 'es' %}Irlanda{% else %}Ireland{% endif %}</option>
<option value="IL">{% if lang == 'es' %}Israel{% else %}Israel{% endif %}</option>
<option value="IT">{% if lang == 'es' %}Italia{% else %}Italy{% endif %}</option>
<option value="JO">{% if lang == 'es' %}Jordania{% else %}Jordan{% endif %}</option>
<option value="KE">{% if lang == 'es' %}Kenia{% else %}Kenya{% endif %}</option>
<option value="KW">{% if lang == 'es' %}Kuwait{% else %}Kuwait{% endif %}</option>
<option value="LV">{% if lang == 'es' %}Letonia{% else %}Latvia{% endif %}</option>
<option value="LT">{% if lang == 'es' %}Lituania{% else %}Lithuania{% endif %}</option>
<option value="LU">{% if lang == 'es' %}Luxemburgo{% else %}Luxembourg{% endif %}</option>
<option value="MY">{% if lang == 'es' %}Malasia{% else %}Malaysia{% endif %}</option>
<option value="MA">{% if lang == 'es' %}Marruecos{% else %}Morocco{% endif %}</option>
<option value="MT">{% if lang == 'es' %}Malta{% else %}Malta{% endif %}</option>
<option value="MU">{% if lang == 'es' %}Mauricio{% else %}Mauritius{% endif %}</option>
<option value="MX">{% if lang == 'es' %}México{% else %}Mexico{% endif %}</option>
<option value="NG">{% if lang == 'es' %}Nigeria{% else %}Nigeria{% endif %}</option>
<option value="NO">{% if lang == 'es' %}Noruega{% else %}Norway{% endif %}</option>
<option value="NZ">{% if lang == 'es' %}Nueva Zelanda{% else %}New Zealand{% endif %}</option>
<option value="OM">{% if lang == 'es' %}Omán{% else %}Oman{% endif %}</option>
<option value="PA">{% if lang == 'es' %}Panamá{% else %}Panama{% endif %}</option>
<option value="PE">{% if lang == 'es' %}Perú{% else %}Peru{% endif %}</option>
<option value="PL">{% if lang == 'es' %}Polonia{% else %}Poland{% endif %}</option>
<option value="PT">{% if lang == 'es' %}Portugal{% else %}Portugal{% endif %}</option>
<option value="GB">{% if lang == 'es' %}Reino Unido{% else %}United Kingdom{% endif %}</option>
<option value="CZ">{% if lang == 'es' %}República Checa{% else %}Czech Republic{% endif %}</option>
<option value="RO">{% if lang == 'es' %}Rumania{% else %}Romania{% endif %}</option>
<option value="RS">{% if lang == 'es' %}Serbia{% else %}Serbia{% endif %}</option>
<option value="SG">{% if lang == 'es' %}Singapur{% else %}Singapore{% endif %}</option>
<option value="ZA">{% if lang == 'es' %}Sudáfrica{% else %}South Africa{% endif %}</option>
<option value="SE">{% if lang == 'es' %}Suecia{% else %}Sweden{% endif %}</option>
<option value="CH">{% if lang == 'es' %}Suiza{% else %}Switzerland{% endif %}</option>
<option value="TW">{% if lang == 'es' %}Taiwán{% else %}Taiwan{% endif %}</option>
<option value="TH">{% if lang == 'es' %}Tailandia{% else %}Thailand{% endif %}</option>
<option value="TZ">{% if lang == 'es' %}Tanzania{% else %}Tanzania{% endif %}</option>
<option value="TN">{% if lang == 'es' %}Túnez{% else %}Tunisia{% endif %}</option>
<option value="TR">{% if lang == 'es' %}Turquía{% else %}Turkey{% endif %}</option>
<option value="UA">{% if lang == 'es' %}Ucrania{% else %}Ukraine{% endif %}</option>
<option value="UY">{% if lang == 'es' %}Uruguay{% else %}Uruguay{% endif %}</option>
<option value="DE">{% if lang == 'es' %}Alemania{% else %}Germany{% endif %}</option>
<option value="VN">{% if lang == 'es' %}Vietnam{% else %}Vietnam{% endif %}</option>
